.aboutCont{
    margin: 0;
    margin-top: 10vh;
    font-size: calc(10px + (3vw + 5vh)/2);
    min-height: 100vh;
}

.aboutCont .aboutContent{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 5vh 10vw;
}
.aboutContent img{
    width: 250px;
    height: 250px;
    grid-column: 1;
    border-radius: 50%;
    justify-self: center;
}
.aboutContent h2{
    font-size: 0.6em;
    justify-self: center;
    align-self: center;
}
.aboutContent p{
    font-size: 0.4em;
    line-height: 1.5;
    grid-column: 1 / span 2;
}
.aboutContent p a{
    color: #4cdd84;
}

@media screen and (max-width: 800px) {
    .aboutCont .aboutContent{
        grid-template-columns: auto;
        padding: 5vh 2vw;
    }
    .aboutContent img{
        grid-column: auto;
        width: 150px;
        height: 150px;
    }
    .aboutContent h2{
        font-size: 0.53em;
        grid-column: 1;
        text-align: center;
    }
    .aboutContent p{
        font-size: 0.48em;
        grid-column: 1;
    }
}
