.dailyDetails{
    margin: 0;
    padding: 0;
    margin-left: 10vw;
}
.dailyDetails h4{
    align-self: flex-start;
}

.dailyDetails .dailyList{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 5vw;
}
.dailyList .dayDetails{
    /*background-color: rgb(179, 205, 228, 0.15);
    border: #b3cde4 1px dotted;*/
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 0;
    padding: 2vh 2vw;
    border-radius: 20px;
    background: radial-gradient(circle at top left, #9f496e 0%, #9f496e00 90%);
   
}

.dayDetails p{
    font-size: 0.35em;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1vh 0;
    gap: 1vw;
}
.dayDetails p img{
    width: 20px;
    align-self: center;
    justify-self: center;
    margin: 0;
}
.dayDetails #dayMain{
    color: #eef3f9;
    opacity: 0.9;
}
.dayDetails #dayText img{
    width: 45px;
}


/*hourly styles*/
.hourlyDetails{
    align-self: center;
    margin: 0;
    padding: 3vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(61, 2, 63, 0.3);
    gap: 5vh;
}
.hourlyDetails h4{
    margin: 0;
    grid-column: 1 / span 3;
    
}
.hourlyDetails h4 img{
    width: 35px;
}

.hourlyDetails .hourlychart{
    width: 70vw;
    font-size: 0.4em;
}
.hourlyDetails .hourlyprep{
    font-size: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-top: #fdfdfd 1px solid;
}
.hourlyprep div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw;
}
.hourlyprep p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.hourlyprep img{
    width: 35px;
}


@media screen and (max-width: 800px) {
    .dailyDetails{
        grid-column: 1;
        margin: 0;
        margin-top: 3vh;
        padding: 0 3vw;
    }
    .dailyDetails .dailyList{
        flex-direction: column;
        gap: 0;
       /* border-radius: 20px;*/
        padding: 0;
    }
    /*.dailyDetails .dailydark{
        background: radial-gradient(circle at left, #9f496e 0%, rgb(159, 73, 110, 0) 70%);
    }
    .dailyDetails .dailylight{
        background: radial-gradient(circle at left, #64766a 0%, rgb(100, 118, 106, 0) 70%);
    }*/
    .dailyList .dayDetails{
        padding: 2vh 5vw;
        flex-direction: row;
        gap: 3vw;
        border-radius: unset;
        border: none;
    }
    .dayDetails p{
        font-size: 0.4em;
        flex-direction: row;
        gap: 1vw;
    }
    .dayDetails p img{
        width: 15px;
    }
    .dayDetails #dayText img{
        width: 25px;
    }

    /*hourly media queries*/
    .hourlyDetails{
        margin: 0;
        padding: 3vh 3vw;
    }
    .hourlyDetails h4{
        padding-left: 3%;
    }
    .hourlyDetails .hourlychart{
        width: 90vw;
        align-self: unset;
    }
    .hourlyprep img{
        width: 20px;
    }

}
