.forecast-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3vh;
    padding: 1vh 5vw;
    padding-bottom: 3vh;
    margin: 0;
    background-color: #3a3a3af7;
    border-radius: 15px 15px 0 0;
}
.forecast-container .forecast-title{
    border-bottom: #ffffff66 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ffffff99;
}

.forecast-title h3{
    font-size: 0.45em;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 1vw;
   margin: 0;
   
}
.forecast-title img{
    width: 33px;
}
.forecast-title button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.31em;
}
.forecast-container h3 span{
    font-size: 0.8em;
    opacity: 0.7;
}
.forecast-container h4{
    font-size: 0.4em;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 1vw;
   font-weight: lighter;
}
.forecast-container h4 span{
    font-size: 0.8em;
    opacity: 0.7;
}
.forecast-container h4 img{
    width: 30px;
}
.forecast-container h5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.forecast-container h5 img{
    width: 25px;
}

/*comments */
.forecast-container .summary-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3vh;
}
.summary-container .summaries{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 3vw;
    font-size: 0.37em;
}
.summaries div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(99, 99, 99, 0.5);
    padding: 0.5vh 3vw;
    border-radius: 15px;
    gap: 1vh;
}
.summaries div h5{
    margin: 0;
}


/* daily forecast*/ 
.forecast-container .daily-forecast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 3vh;

}
.daily-forecast .temp-chart-container{
    align-self: center;
    font-size: 0.34em;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden; 
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.temp-chart-container::-webkit-scrollbar{
    display: none;
}
.temp-chart-container .thee-temp-chart{
    width: 160%;
}

.daily-forecast .scroll-chart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 0.3em; 
}
.scroll-chart button{
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/*astro forecast*/
.forecast-container .astro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    /*border-top: rgba(255, 255, 255, 0.4) 1px solid;*/
    width: 100%;
}
.astro-container h4{
    align-self: flex-start;
}
.astro-container .astro-time{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1vw;
    font-size: 0.33em;
}
.astro-time p span{
    opacity: 0.8;
    font-size: 0.9em;
}
.astro-time .astro-position{
    width: 50vw;
    /*height: 500px;*/
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    color: #d3d3d3cc;
}



.astro-position path{
    stroke-width: 1px;
    stroke: #ffffff93;
}
.astro-position image{
    border: #ffffff93 1px solid;
}

.astro-position .astro-track{
    width: 100%;
    height: 4px;
    background-color: #fdfdfd;
}
.astro-position #astro-item{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    padding: 0;
    margin: 0;
    width: 30px;

}
.astro-time .astro-pos{
    width: 50vw;
    height: 60px;
    border-bottom: #fdfdfd 3px solid;
    backdrop-filter: blur(10px);
    position: relative;
    padding-bottom: 10px;

}
.astro-pos .astro-back{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);

}
.astro-pos img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}


@media screen and (max-width: 800px){
    .forecast-container{
        margin: 0 0.5vw;
        padding: 0 2vw;
    }
    .forecast-title img{
        width: 23px;
    }
    .forecast-container h4 img{
        width: 20px;
    }
    .forecast-container h5 img{
        width: 18px;
    }
   
    .daily-container .daily-forecast{
        width: 95vw;
    }
    .daily-forecast-list .day-forecast-details{
        width: 43vw;
        font-size: 0.38em;
    }
    .day-forecast-details .day-start,.day-end{
        gap: 2.5vh;
    }
    .day-forecast-details p img{
        width: 15px;
    }
    .day-forecast-details #day-icon{
        width: 25px;
    }
    .daily-container .daily-scroll{
        font-size: 0.36em;
    }
    .hourly-container .hourly-chart{
        font-size: 0.37em;
    }
    .hourly-chart .chart-container{
        width: 95vw;
    }
    .chart-container .thee-chart{
        width: 500%;
    }
    .prep-container .prep-forecast-list{
        gap: 7px;
    }
    .prep-forecast-list p{
        font-size: 0.36em;
    }
    .forecast-container .temp-chart-container{
        width: 94vw;
        font-size: 0.37em;

    }
    .temp-chart-container .thee-temp-chart{
       /* width: 230%;*/
       width: 300%;
    }
    .astro-container .astro-time{
        flex-wrap: wrap;
        gap: 2vw;
        font-size: 0.37em;
        padding-bottom: 3vh;
    }
    .astro-time .astro-pos{
        width: 60vw;
        height: 35px;
        padding-bottom: 5px;
        border-bottom: #fdfdfd 2px solid;

    }
    .astro-pos img{
        width: 17px;
    }
}
