.homecontainer{
    position: relative;
    padding: 0 15vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
}
.homecontainer h1{
    font-size: 0.6em;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.homecontainer h1 img{
    width: 60px;
}
.home-response{
    font-size: 0.35em;
    padding: 1vh 3vw;
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: rgba(226, 60, 82, 0.3);
    border-radius: 15px;
}
.homecontainer .home-background{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 85vh;
    z-index: -1;
    background-position: center;
    background-size: cover;
}
.home-background div {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
.homecontainer h2{
    font-size: 0.45em;
    margin: 0;
}
.current-name{
    font-size: 0.37em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.current-name:hover{
    color: #0077ff;
}
.current-name img{
    width: 35px;
}
.saved-locations-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vh;
    padding: 0;
}
.saved-locations-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin: 0;
}
.saved-locations-title button{
    background-color: transparent;
    border: none;
    box-shadow: 3px 3px 4px black;
    padding: 1vh 3vw;
    font-size: 0.7em;
    border-radius: 10px;
    color: inherit;
    cursor: pointer;
}
.saved-locations-title button:hover{
    color: #09cc7b;
}
.saved-locations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1vh;
    list-style-type: none;
    margin: 0;
    
}
.saved-locations li{
    cursor: pointer;
    font-size: 0.37em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5vw;
}
.saved-locations li p:hover{
    color: #0077ff;
}
.saved-locations li p img{
    width: 33px;
}
.saved-locations li #removeloc{
    width: 28px;
}


.homecontainer .addCont{
    min-width: 60vw;
    max-width: 80vw;
    height: 80vh;
    padding: 3vh 5vw;
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 5vh;
    z-index: 7;
    overflow-y: auto;
    background-color: rgb(29, 63, 88, 0.97);
    background-color: #111111f2;
}
.addCont .addContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    
}
.addContent button{
    background-color: transparent;
    border: none;
    font-size: 0.25em;
    cursor: pointer;
}
.addContent button img{
    width: 30px;
}

.addContent .searchform{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1vw;

}
.searchform input{
    font-size: 0.33em;
    padding: 1.5vh 1vw;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color:  transparent;
    outline: none;
    border: none;
    color: inherit;
    border-radius: 15px;
    flex-basis: 80%;
}
.searchform button{
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    /*border: #ededed 1px solid;*/
    border: none;
    color: inherit;
    font-size: 0.42em;
    padding: 10px;
}
.searchform input[type='search']::-webkit-search-cancel-button{
    display: none;
    -webkit-appearance: none;
}

.addCont .searchresults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchresults #searchresponse{
    font-size: 0.3em;
    opacity: 0.7;
}

.searchresults .searchlist{
    list-style-type: none;
    font-size: 0.34em;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.searchlist li{
    cursor: pointer;
}
.searchlist li span{
    color: #fe9b33;
}
.searchlist li img{
    width: 30px;
}
.searchlist li:hover{
    opacity: 0.7;
}

.clearlocations{
    background-color: transparent;
    border: #fdfdfd 1px solid;
    align-self: flex-end;
    padding: 1vh 2vw;
    font-size: 0.3em;
    border-radius: 10px;
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.clearlocations img{
    width: 35px;
}
.clearlocations:hover{
    color: #fe9b33;
}

@media screen and (max-width: 768px) {
    .homecontainer .addCont{
        padding: 3vh 3vw;
        max-width: unset;
        width: 90vw;

    }
    .homecontainer h1{
        font-size: 0.65em;
    }
    .homecontainer h1 img{
        width: 45px;
    }
    .home-response{
        padding: 1vh 5vw;
        font-size: 0.4em;
    }
    .homecontainer .home-background{
        width: 95vw;
    }
    .homecontainer h2{
        font-size: 0.5em;
    }
    .searchform input{
        font-size: 0.4em;
    }
    .searchresults .searchlist{
        font-size: 0.4em;
    }
    .searchlist li img{
        width: 20px;
    }
    .searchresults #searchresponse{
        font-size: 0.4em;
    }
    .current-name{
        font-size: 0.4em;
    }
    .current-name img{
        width: 25px;
    }
    .saved-locations li{
        font-size: 0.4em;
        gap: 8vw;
    }
    .saved-locations li p img{
        width: 23px;
    }
    .saved-locations li #removeloc{
        width: 19px;
    }
    .clearlocations{
        font-size: 0.4em;
    }
    .clearlocations img{
        width: 20px;
    }
    
}
