.myheader{
    margin: 0;
    padding: 0;
    font-size: calc(10px + (3vw + 5vh)/2);
}
.myheader #logo{
    width: 7vw;
    position: absolute;
    top: 1vh;
    left: 0;
}
.myheader h1{
    position: absolute;
    top: 1vh;
    left: 35vw;
    width: 100%;
    margin: 1vh 0;
    font-size: 0.7em;
}
.myheader .menubar{
    position: absolute;
    top: 1vh;
    left: 60vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.menubar #navlink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 0 3vw;
}
.menubar #navlink img{
    width: 30px;
}
.menubar #navlink p{
    font-size: 0.3em;
    margin: 0;
    color: #f7f7f7;
}

.myheader #menubut{
    position: absolute;
    right: 1vw;
    top: 1vh;
}
.myheader .dropdownCont{
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(29, 29, 29, 0.97);
}
.dropdownCont #closeDropdown{
    position: absolute;
    right: 8vw;
    top: 5vh;
    background-color: transparent;
    border: none;
    font-size: 0.7em;
    color: #f7f7f7;
    cursor: pointer;
}
.dropdownCont #closeDropdown:hover{
    color: #df1749;
}
.dropdownCont .dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown li{
    margin: 2vh 0;
}
.dropdown #droplink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.5em;
    text-decoration: none;
    color: #f7f7f7;
}
.dropdown img{
    width: 40px;
    margin-right: 1vw;
}
.dropdown #droplink:hover{
    color: #4cdd84;
}

.myfooter{
    margin: 0;
    padding: 0;
    margin-top: 3vh;
    font-size: calc(10px + (3vw + 5vh)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myfooter .socialLinks{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.socialLinks li{
    margin: 1vh 2vw;
}
.socialLinks img{
    width: 35px;
}

.myfooter #creator{
    font-size: 0.35em;
}
.myfooter #creator a{
    color: #4cdd84;
}

@media screen and (max-width: 800px) {
    .myheader #logo{
        width: 20vw;
    }
    .myheader h1{
        left: 28vw;
    }
    .myheader #menubut{
        right: 2vw;
        top: 2vh;
        width: 28px;
    }
    .dropdownCont #closeDropdown{
        right: 4vw;
        top: 3vh;
        font-size: 0.95em;
    }
    .dropdown #droplink{
        font-size: 0.6em;
    }
    .dropdown li{
        margin: 3vh 0;
    }
    .dropdown img{
        width: 28px;
        margin-right: 2vw;
    }
    .socialLinks img{
        width: 28px;
    }
    .myfooter #creator{
        font-size: 0.45em;
    }
}