.weather-response{
    font-size: 0.35em;
    padding: 1vh 3vw;
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: rgba(226, 60, 82, 0.3);
    background-color: rgba(235, 234, 234, 0.8);
    border-radius: 15px;
    color: rgb(10, 10, 10);
}
.no-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.4em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.no-weather img{
    width: 90px;
}
.weatherDetails{
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}
.weatherDetails .weather-background{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0, 0.3);
   z-index: 0;
}

.weatherDetails .currentCondition{
    align-self: center;
    margin: 0;
    min-width: 40vw;
    height: 40vh;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: #ffffff23 1px solid;
    padding: 5vh 5vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    gap: 10vh;
    color: #ffffff;
}
.currentCondition *{
    margin: 0;
    padding: 0;
}

.currentCondition .current-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1vh;
}
.current-details #currentcondition{
    font-size: 0.35em;
}
.current-details #currenttemp{
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}
#currenttemp sup{
    font-size: 0.5em;
}


.currentCondition .day-conditions{
    font-size: 0.33em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2vh;
}
.day-conditions div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;
}
.day-conditions p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 0 0.5vw;
    border-right: rgba(201, 201, 201, 0.795) 1px solid;
}
.day-conditions img{
    width: 30px;
}
.day-conditions p span{
    opacity: 0.8;
}




@media screen and (max-width: 800px) {
    .weather-response{
        top: 10vh;
        padding: 1vh 5vw;
        font-size: 0.4em;
    }
    .no-weather img{
        width: 75px;
    }
    .weatherDetails{
        gap: 7vh;
    }
    .weatherDetails .currentCondition{
        padding: 2vh 3vw;
        min-width: 70vw;
        margin: 0;
        border-radius: 10px;
    }
    .current-location p{
        font-size: 0.7em;
        align-self: flex-start;
        padding-left: 1vw;
    }
    .current-location p img{
        width: 15px;
    }
    .current-location button{
        z-index: 5;
        margin-right: 35vw;
    }
    .current-location button img{
        width: 20px;
    }
    .currentCondition #currenttemp{
        font-size: 2em;
    }
    .currentCondition #currentcondition{
        font-size: 0.43em;
    }
    #currentcondition img{
        width: 35px;
    }
    .currentCondition .current-end{
        gap: 5vh;
    }
    .current-end .day-conditions{
        font-size: 0.37em;
    }
    .day-conditions p{
        padding: 0 1vw;
    }
    .day-conditions img{
        width: 17px;
    }
    
}

