.weather-response{
    font-size: 0.35em;
    padding: 1vh 3vw;
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: rgba(226, 60, 82, 0.3);
    border-radius: 15px;
}
.no-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.4em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.no-weather img{
    width: 90px;
}
.weatherDetails{
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.weatherDetails *{
    z-index: 1;
}
.weatherDetails .weather-background{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0, 0.3);
   z-index: 0;
}
.weatherDetails h4{
    font-size: 0.45em;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}
.weatherDetails h4 img{
    width: 35px;
}
.weatherDetails .currentCondition{
    align-self: center;
    margin: 0;
    width: 70vw;
    height: 70vh;
    background-color: rgb(13, 0, 37, 0.4);
    padding: 5vh 5vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1vh;
    color: #fdfdfd;
}
.currentCondition *{
    margin: 0;
    padding: 0;
}
.currentCondition #currentlocation{
    font-size: 0.7em;
    grid-column: 1 /span 2 ;
    padding: 0;
    margin: 0;
    align-self: flex-start;
    justify-self: top;
}
#currentlocation span{
    font-size: 0.4em;
    opacity: 0.7;
}
#currentlocation img{
    width: 25px;
    font-size: 0.23em;
    color: rgb(83, 118, 146);
    opacity: 0.7;
}

.currentCondition .current-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10vh;
}
.current-end .current-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1vh;
}
.current-details #currentcondition{
    font-size: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.current-details #currenttemp{
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}
#currenttemp sup{
    font-size: 0.5em;
}


.current-end .day-conditions{
    font-size: 0.33em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1vh;
}
.day-conditions div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;
}
.day-conditions p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.day-conditions img{
    width: 30px;
}
.day-conditions p span{
    opacity: 0.7;
}

.weatherDetails .otherDetails{
    margin: 1vh 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
}


.otherDetails h4 img{
    width: 35px;
}
.otherDetails ul{
    align-self: center;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15vw;
    row-gap: 5vh;
    font-size: 0.35em;
}
.otherDetails li{
    margin: 0;
    padding: 3vh 2vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    /*background-color: rgb(83, 118, 146, 0.2);*/
    border-radius: 20px;
    width: 28vw;
    background: radial-gradient(circle at top left, #8ca9d3 0%, #8ca9d300 90%);
    background: radial-gradient(circle at top left, #425268 0%, #42526800 90%);
}

.otherDetails li img{
    width: 70px;
    margin: 0;
}
.otherDetails li span{
    opacity: 0.7;
    font-size: 0.9em;
}

.weatherDetails .astro-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
    /*background-color: rgb(13, 0, 37, 0.3);*/
}
.astro-container h4{
    align-self: flex-start;
    padding-left: 10vw;
}
.astro-container h4 img{
    width: 35px;
}
.astro-container .astro{
    width: 90%;
    height: 50vh;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.astro .astro-position{
    position: relative;
    width: 78%;
    height: 100%;
    clip-path: inset(0 0 50% 0);
    border-radius: 50% 50% 0 0;
    box-sizing: border-box;
    overflow: hidden;
    
}

.astro-position img{
    position: absolute;
    width: 2.4%;
    padding: 0;
}
.astro .astrobackground{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    filter: blur(10px);
}

.astro .astro-time{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    font-size: 0.35em;
    display: grid;
    grid-template-columns: auto auto auto;
    border-top: #fdfdfd 3px solid;
}
.astro-time #sunrise{
    justify-self: left;
    margin-left: 12%;
    z-index: 3;
    border-radius: 30px;
}
.astro-time #suntime{
    justify-self: center;
}
.astro-time #sunset{
    justify-self: right;
    margin-right: 12%;
    z-index: 3;
    border-radius: 30px;
}
.astro-time span{
    opacity: 0.7;
    font-size: 0.9em;
}


@media screen and (max-width: 800px) {
    .weather-response{
        padding: 1vh 5vw;
        font-size: 0.4em;
    }
    .no-weather img{
        width: 75px;
    }
    .weatherDetails{
        padding-top: 7vh;
        gap: 7vh;
    }
    .weatherDetails h4 img{
        width: 20px;
    }
    .weatherDetails .currentCondition{
        padding: 5vh 5vw;
        width: 88vw;
        height: 75vh;
        margin: 0;
    }
    .currentCondition #currentlocation{
        font-size: 0.75em;
        align-self: flex-start;
        padding-left: 5vw;
    }
    #currentlocation img{
        width: 18px;
    }
    .currentCondition #currenttemp{
        padding-top: 20vh;
        font-size: 2em;
    }
    .currentCondition #currentcondition{
        font-size: 0.5em;
        gap: 3vw;
    }
    #currentcondition img{
        width: 35px;
    }
    .current-end .day-conditions{
        font-size: 0.38em;
    }
    .day-conditions img{
        width: 20px;
    }
    
    
    .weatherDetails .otherDetails{
        padding-left: 3vw;
    }
    .otherDetails ul{
        padding: 0;
        column-gap: 10vw;
        font-size: 0.43em;
    }
    .otherDetails li{
        width: 33vw;
       flex-direction: column;
       gap: 2vh;
    }
    .otherDetails li img{
        width: 35px;
    }
    
    .weatherDetails .astro-container{
        margin-bottom: 1vh;
    }
    .astro-container h4{
        padding-left: 3vw;
    }
    .astro-container .astro{
        width: 100%;
        height: 20vh;
    }
    .astro .astro-position{
        width: 90%;
    }
    .astro-position img{
        width: 5%;
    }
    .astro-path .astro-time{
        font-size: 0.33em;
    }
    .astro-time #sunrise{
        margin-left: 3%;
    }
    .astro-time #sunset{
        margin-right: 3%;
    }
    
}

