.weather-response{
    font-size: 0.35em;
    padding: 1vh 3vw;
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: rgba(226, 60, 82, 0.3);
    border-radius: 15px;
}
.no-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.4em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.no-weather img{
    width: 90px;
}
.weatherDetails{
    position: relative;
    margin: 0;
    padding: 3vh 0;
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.weatherDetails *{
    z-index: 1;
}
.weatherDetails .weather-background{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0, 0.3);
   z-index: 0;
}

.weatherDetails .currentCondition{
    align-self: center;
    margin: 0;
    width: 70vw;
    height: 60vh;
    background-color: rgb(13, 0, 37, 0.4);
    padding: 5vh 5vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1vh;
    color: #fdfdfd;
}
.currentCondition *{
    margin: 0;
    padding: 0;
}
.currentCondition #currentlocation{
    font-size: 0.7em;
    grid-column: 1 /span 2 ;
    padding: 0;
    margin: 0;
    align-self: flex-start;
    justify-self: top;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5vw;
}
#currentlocation span{
    font-size: 0.4em;
    opacity: 0.7;
}
#currentlocation img{
    width: 20px;
    font-size: 0.23em;
    color: rgb(83, 118, 146);
    opacity: 0.7;
}

.currentCondition .current-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10vh;
}
.current-end .current-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1vh;
}
.current-details #currentcondition{
    font-size: 0.35em;
}
.current-details #currenttemp{
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}
#currenttemp sup{
    font-size: 0.5em;
}


.current-end .day-conditions{
    font-size: 0.33em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2vh;
}
.day-conditions div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;
}
.day-conditions p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 0 0.5vw;
    border-right: rgba(7, 181, 250, 0.5) 1px solid;
}
.day-conditions img{
    width: 30px;
}
.day-conditions p span{
    opacity: 0.8;
}

.weatherDetails .otherDetails{
    margin: 1vh 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
}


.otherDetails h4 img{
    width: 35px;
}
.otherDetails ul{
    align-self: center;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15vw;
    row-gap: 5vh;
    font-size: 0.35em;
}
.otherDetails li{
    margin: 0;
    padding: 3vh 2vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    /*background-color: rgb(83, 118, 146, 0.2);*/
    border-radius: 20px;
    width: 28vw;
    background: radial-gradient(circle at top left, #8ca9d3 0%, #8ca9d300 90%);
    background: radial-gradient(circle at top left, #425268 0%, #42526800 90%);
}

.otherDetails li img{
    width: 70px;
    margin: 0;
}
.otherDetails li span{
    opacity: 0.7;
    font-size: 0.9em;
}


@media screen and (max-width: 800px) {
    .weather-response{
        padding: 1vh 5vw;
        font-size: 0.4em;
    }
    .no-weather img{
        width: 75px;
    }
    .weatherDetails{
        padding-top: 0;
        gap: 7vh;
    }
    .weatherDetails .currentCondition{
        padding: 2vh 3vw;
        width: 93.8vw;
        height: 65vh;
        margin: 0;
        border-radius: 0 0 10px 10px;
    }
    .currentCondition #currentlocation{
        font-size: 0.7em;
        align-self: flex-start;
        padding-left: 5vw;
    }
    #currentlocation img{
        width: 15px;
    }
    .currentCondition #currenttemp{
        font-size: 2em;
    }
    .currentCondition #currentcondition{
        font-size: 0.43em;
    }
    #currentcondition img{
        width: 35px;
    }
    .currentCondition .current-end{
        gap: 5vh;
    }
    .current-end .day-conditions{
        font-size: 0.37em;
    }
    .day-conditions p{
        padding: 0 1vw;
    }
    .day-conditions img{
        width: 17px;
    }
    
    
    .weatherDetails .otherDetails{
        padding-left: 3vw;
    }
    .otherDetails ul{
        padding: 0;
        column-gap: 10vw;
        font-size: 0.43em;
    }
    .otherDetails li{
        width: 33vw;
       flex-direction: column;
       gap: 2vh;
    }
    .otherDetails li img{
        width: 35px;
    }
    
}

