.myheader{
    margin: 0;
    padding: 2vh 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.myheader h1{
    font-size: 0.7em;
    font-weight: lighter;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    justify-content: center;
    align-items: center;
}
.myheader #title-home img{
    width: 50px;
}
.myheader #title-weather{
    align-self: flex-start;
}
.myheader #title-weather img{
    width: 20px;
}
.myheader #title-settings img{
    width: 40px;
}
.myheader .header-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}
 .toplink{
    font-size: 0.3em;
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.toplink img{
    width: 30px;
}
.myheader button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toplink:hover{
    color: rgb(83, 118, 146);
}

.myheader button img{
    width: 33px;
}

.myheader .menubar{
    z-index: 3;
    justify-self: center;
    grid-column: 1 / span 2;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 7vw;
    padding: 1.5vh 5vw;
    border-radius: 30px;
    background-color: rgb(29, 63, 88, 0.97);
    font-size: 0.3em;
}
.menubar #navlink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.menubar #navlink img{
    width: 30px;
}
.menubar #navlink p{
    margin: 0;
    color: #f7f7f7;
}


.noPage{
    margin: 0;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noPage #nopageInfo{
    margin-top: 30vh;
    font-size: 0.65em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
#nopageInfo img{
    width: 70px;
}
.noPage p{
    font-size: 0.4em;
}
.noPage #nopageLink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 1vh 3vw;
    font-size: 0.35em;
    text-decoration: none;
    color: inherit;
    border: #f7f7f7 1px solid;
}
#nopageLink img{
    width: 35px;
}

@media screen and (max-width: 800px) {
    .myheader{
        width: 96%;
    }
    .myheader #title-weather img{
        width: 13px;
    }
    .myheader #title-settings img{
        width: 27px;
    }
    .header-links .toplink{
        font-size: 0.38em;
    }
    .toplink img{
        width: 20px;
    }
    .myheader .menubar{
        flex-direction: column;
        gap: 4vh;
        padding: 3vh 15vw;
        font-size: 0.37em;
        align-items: flex-start;
    }
    .menubar #navlink{
        flex-direction: row;
        gap: 1vw;
    }
    .menubar #navlink img{
        width: 23px;
    }

    #nopageInfo img{
        width: 50px;
    }
    
    .noPage #nopageLink{
        font-size: 0.4em;
    }
    #nopageLink img{
        width: 28px;
    }
}
