@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Light.ttf') format(truetype);
}

body {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
  font-size: calc(10px + (3vw + 5vh) / 2);
  color: #fdfdfd;
  background-color: #263a47;
}

